/* Color scheme:
 
 http://thecolorsofmotion.com/films/blade_runner

 Scale: multiples of 1.5rem.

*/

*
{
  margin: 0;
  padding: 0;
}

/* Font size is 10 + 0.25 * sqrt(screen-width). */
/* [round(11 + 0.3 * sqrt(w), 1) for w in (512, 768, 1024, 1280, 1536, 1792, 2048)] */
@media(min-width: 512px)  { html { font-size: 17.8px; } }
@media(min-width: 768px)  { html { font-size: 19.3px; } }
@media(min-width: 1024px) { html { font-size: 20.6px; } }
@media(min-width: 1280px) { html { font-size: 21.7px; } }
@media(min-width: 1536px) { html { font-size: 22.8px; } }
@media(min-width: 1792px) { html { font-size: 23.7px; } }
@media(min-width: 2048px) { html { font-size: 24.6px; } }

body
{
  font-family: 'Source Sans Pro', 'Segoe UI', sans-serif;
  background-color: #f8f8f7;
  overflow-x: hidden;
}

#top
{
  background: linear-gradient(10deg, #223, #445);
  overflow: hidden;
}

#top > nav, #top > h1, #content
{
  max-width: 42rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

#top > nav
{
  padding-top: 1em;
  padding-bottom: 1.1em;
  text-align: right;
}

#top > nav > a
{
  margin-left: 1em;
  text-decoration: none;
  font-feature-settings: "c2sc" 1, "smcp" 1;
  letter-spacing: 0.1em;
  display: inline-block;
  color: #acd;
}

#top > nav > a:first-child
{
  margin-left: 0;
  float: left;
}

#top > h1
{
  text-align: center;
  font-size: 1rem;
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #fff;
}

#content
{
  color: #445;
  line-height: 1.6rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
  transition: transform 0.2s ease-in-out;
}

#content > h1
{
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 3rem;
  padding-bottom: 1rem;
}

#content > h2
{
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.25rem;
  padding-bottom: 1rem;
}

#content > h2 > a
{
  width: 0.8em;
  margin-left: -0.8em;
  display: none;
}

#content > h2:hover > a
{
  display: inline-block;
}

#content > p, #content > pre, #content ul
{
  margin-bottom: 1.5rem;
}

#content a
{
  color: #d94;
  text-decoration: none;
}

#content code
{
  /* Source Code Pro is meant to go with Source Sans Pro, but I can't stand it;
   * it is far too wide; it looks too big at the same x-height. */
  font-family: Inconsolata, Consolas, monospace;
}

#content ul
{
  list-style: outside;
}

#content ul > li
{
  list-style-type: "•  ";
}

.smcp
{
  font-feature-settings: "smcp" 1, "c2sc" 1, "onum" 1;
  letter-spacing: 0.04em;
}

#toc
{
  float: left;
  width: 9em;
  margin-left: -11rem;
  margin-top: 4rem;
  padding-right: 2rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#toc > a
{
  display: block;
  color: #99a;
}

#toc > a.active
{
  color: #667;
}

#toc > a.sect
{
  padding-left: 0.8em;
  color: #889;
}

#hamburger-check
{
  display: none;
}

#hamburger-check:checked ~ #content
{
  transform: translate(11rem, 0);
}

#hamburger-check:checked ~ #content > nav
{
  opacity: 1;
}

#hamburger
{
  margin-top: -3.25rem;
  padding-left: 0.2em;
  float: left;
  width: 1.8rem;
  height: 2rem;
  display: block;
  cursor: pointer;
  color: #88a;
  font-size: 2em;
}

@media(min-width: 85rem)
{
  #hamburger { display: none; }
  #toc { opacity: 1; }
}
